* {
    margin: 0 auto;
}

body {
    position: relative;
    overflow: hidden;
}

#up {
    position: fixed;
    left: calc(50% - 30%);
    bottom: -7%;
    width: 60%;
    height: 15%;
    background-color: #17212A;
    border: 1px solid #17212A;
    border-radius: 400px;
}

#mess {
    position: absolute;
    left: calc(50% - 20%);
    top: calc(28% - 20%);
    width: 40%;
    height: 40%;
}

#acc {
    position: absolute;
    left: calc(79% - 20%);
    top: calc(28% - 20%);
    width: 40%;
    height: 40%;
}

#new {
    position: absolute;
    left: calc(21% - 20%);
    top: calc(28% - 16.5%);
    width: 40%;
    height: 38%;
}

#so {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
}

#hum {
    position: fixed;
    left: calc(50% - 15%);
    top: 6%;
    width: 30%;
    height: 80%;
    border-radius: 50px;
    background-color: #17212A;
    display: block;
    max-height: 80%;
    max-width: 30%;
}

#ava {
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: aliceblue;
    left: calc(50% - 25px);
    top: 10%;
    min-width: 50px;
    min-height: 50px;
}

#name {
    position: fixed;
    left: calc(50% - 50px);
    top: calc(10% + 175px);
    width: 100px;
    height: 25px;
    border-radius: 12.5px;
    text-align: center;
    color: black;
    background-color: aliceblue;
}