body {
    position: relative;
}

#up {
    position: fixed;
    left: calc(50% - 30%);
    bottom: -7%;
    width: 60%;
    height: 15%;
    background-color: #17212A;
    border: 1px solid #17212A;
    border-radius: 400px;
}

#mess {
    position: absolute;
    left: calc(50% - 20%);
    top: calc(28% - 20%);
    width: 40%;
    height: 40%;
}

#acc {
    position: absolute;
    left: calc(80% - 20%);
    top: calc(28% - 20%);
    width: 40%;
    height: 40%;
}

#new {
    position: absolute;
    left: calc(21% - 20%);
    top: calc(28% - 16.5%);
    width: 40%;
    height: 38%;
}

#so {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-color: red;
}