body {
    position: relative;
}

#up {
    position: fixed;
    left: calc(50% - 20%);
    bottom: -7%;
    width: 40%;
    height: 15%;
    background-color: #17212A;
    border: 1px solid #17212A;
    border-radius: 400px;
}

#mess {
    position: absolute;
    left: calc(50% - 13.75%);
    top: calc(28% - 13.75%);
    width: 27.5%;
    height: 27.5%;
}

#acc {
    position: absolute;
    left: calc(79% - 13.75%);
    top: calc(28% - 13.75%);
    width: 27.5%;
    height: 27.5%;
}

#new {
    position: absolute;
    left: calc(21% - 13.75%);
    top: calc(28% - 11.25%);
    width: 27.5%;
    height: 25%;
}

#so {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-color: aliceblue;
}

#stack {
    position: relative;
    width: 60%;
    height: 90%;
    left: calc(50% - 30%);
    top: -1%;
    background-color: #17212A;
    border: 1px solid black;
    border-radius: 15px;
    opacity: 0.7;
}

#other {
    position: absolute;
    width: 20%;
    height: 100%;
    float: left;
    top: 0;
    background-color: #17212A;
    opacity: 1;
    border: 1px solid black;
}

#stick {
    width: 20%;
    height: 100%;
    float: right;
    top: 0;
    background-color: #17212A;
    opacity: 1;
    border: 1px solid black;
}